# Frontend Variables
VITE_RAZORPAY_KEY=rzp_test_RnEagYlvEQOGpy
# Remove this for Netlify, or set to /api/v1
# VITE_API_URL=http://localhost:4000/api/v1 

# Backend Variables
PORT=4000
MONGODB_URL=mongodb+srv://StudyNotion:vo4WltrLa3I51dZl@cluster0.jhrlfnp.mongodb.net/studynotiondb2

# JWT
JWT_SECRET=manish

# Email Config (Nodemailer)
MAIL_HOST=smtp.gmail.com
MAIL_USER=ankitsingh91040@gmail.com
MAIL_PASS=jden nusv mwnf chjb
MAIL_PORT=587

# Cloudinary Config
CLOUD_NAME=dahnbpjad
API_KEY=575981964246317
API_SECRET=oiSZkalb7s7dfMDWLXjrrtEdsFc
FOLDER_NAME=Edtech

# Razorpay Config
RAZORPAY_KEY=rzp_test_RnEagYlvEQOGpy
RAZORPAY_SECRET=TjShTMiIKh4GpuFfwW3IFgwP
